<div class="container">
<div class="row">

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Image:</strong>

  <% @post_attachments.each do |p| %>
    <%= image_tag p.picture_url, style:"width:90px;height:90px" %>
  <% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

</div>
</div>
