<!DOCTYPE html>
<html>
<head>
  <title>Dossier</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="message"> <%= flash_messages %></div>

  <div id="user_nav">
    <% if user_signed_in? %>
       Logged in as <strong><%= current_user.username %> <%= image_tag(current_user.avatar, style: "width:90px;height:90px") %></strong>.
       <%= link_to 'Edit profile', edit_user_registration_path %>
       <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete %>
    <% else %>
       <%= link_to "S'inscrire", new_user_registration_path %>
       <%= link_to "Se connecter", new_user_session_path %>
    <% end %>
  </div>


<%= yield %>

</body>
</html>
